h1 = t('.show_screenshot', default: 'Screenshot "%{name}"', name: @screenshot.name)
p = @screenshot.description
= link_to @screenshot.image.url, target: '_blank' do
  img src=@screenshot.image.url width="100%"
