h1= t('.screenshot')
h2= @screenshot.name
p= @screenshot.description
p
  = link_to t('.edit'), [ :edit, :admin, @project, @screenshot ], class: 'btn btn-warning'
  = link_to t('.delete'), [ :delete, :admin, @project, @screenshot ], class: 'btn btn-danger'
img src=@screenshot.token.url
