h1 = @project.name
= simple_format @project.description

h2= t('.screenshots')
.row = render partial: 'projects/show/screenshot', collection: @project.screenshots

h2= t('.tools')
ul.list-inline
  = render partial: 'projects/show/tool_project', collection: @project.tool_projects.with_tools

h2= t('.time_slots')
= timeline_widget project_time_slots_path(@project, format: 'json')

h2 = t('.total_period')
= t('.days', default: '%{total_period} days', total_period: @project.total_period.to_i)
