default: &default
  pool: 5
  timeout: 5000
  adapter: postgresql

development:
  adapter: sqlite3
  database: db/my_resume_development.sqlite3

test:
  adapter: sqlite3
  database: db/my_resume_test.sqlite3

# production:
#   <<: *default
#   database: my_resume_production
