doctype html
html
  head
    title = site_name
    = stylesheet_link_tag    "main/application", media: "all"
    = javascript_include_tag "main/application"
    = csrf_meta_tags
    meta name="viewport" content="width=device-width, initial-scale=1"
    - if yandex_verification_code?
      meta name='yandex-verification' content=yandex_verification_code
  body
    nav.navbar.navbar-default
      .container
        = render_navigation context: :user, level: 1
    .container
      = yield
    = render 'shared/yandex_metrika' if yandex_metrika?
